// Menu button

.menu-btn {
  position: absolute;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include linear;

  .btn-line {
    width: 28px;
    height: 3px;
    margin-bottom: 5px;
    background: #fff;
    @include linear;
  }

  // Rotate into X
  &.hide {
    transform: rotate(180deg);

    .btn-line {
      // Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(3px, 3px);
      }
      // Line 2 - Hide
      &:nth-child(2) {
        display: none;
      }

      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(3px, -3px);
      }
    }
  }
}
